.msg-container {
  max-width: 600px;
  padding: 1rem;
  margin: 200px auto;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.msg-container p {
  color: green;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-container {
  max-width: 1200px;
  margin: 2rem auto;
  width: 95%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact-container .content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.contact-container .content-container .contact-title {
  text-align: center;
  font-size: 26px;
}

.contact-container .content-container .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.contact-container .content-container .contact-icons .icon {
  text-align: center;
  opacity: 75%;
}

.contact-container .content-container .contact-icons .icon p {
  font-size: 20px;
}

.contact-container .content-container .contact-icons .icon-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-container .content-container .contact-icons .icon-active p {
  font-size: 20px;
}

.contact-container .content-container .contact-form .required-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .content-container .contact-form .required-input .input-container {
  width: 48%;
  margin: 0 auto;
}

.contact-container .content-container .contact-form .required-input .input-container p {
  text-align: right;
  font-size: 20px;
}

.contact-container .content-container .contact-form .required-input .input-container input {
  width: 100%;
  min-width: 80px;
  min-height: 41px;
  margin-top: 1rem;
  border: none;
  float: right;
  background-color: #ededed;
  padding: 1rem 1.5rem;
  outline: none;
  border-radius: 10px;
}

.contact-container .content-container .contact-form .text-container {
  margin-top: 20px;
  width: 100%;
  min-width: 100px;
}

.contact-container .content-container .contact-form .text-container p {
  text-align: right;
  font-size: 20px;
}

.contact-container .content-container .contact-form .text-container .text-area {
  height: 139px;
  width: 100%;
  margin: 15px 0 auto;
  background-color: #ededed;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  resize: none;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}

.form-btn .upload-file .upload-text {
  display: inline-block;
  border-radius: 7px;
  padding: 0 10px 10px;
  cursor: pointer;
  color: #648bf0;
  font-size: 25px;
  background-color: #fff;
  border: 3px solid #648bf0;
}

.form-btn .submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 169px;
  height: 45px;
}

.form-btn .submit-form i {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 22.44px;
  height: 14.15px;
  color: #fff;
}

.form-btn .submit-form button {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  color: #fff;
  font-size: 25px;
  background-color: #648bf0;
  border: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}

.form-btn .submit-form button:hover {
  background: #3668ec;
}

@media screen and (max-width: 360px) {
  .contact-container .content-container .contact-form .required-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .content-container .contact-form .required-input .input-container {
    width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */