* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #2d2e3f;
  font-family: arabicFont, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-container {
  margin-top: 10rem;
}

@font-face {
  font-family: arabicFont;
  src: url(/src/Application/assets/font/ArbFONTS-DINNextLTArabic-Regular-4.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: arabicFont;
  src: url(/src/Application/assets/font/ArbFONTS-DINNextLTArabic-Bold-4.ttf);
  font-weight: bold;
  font-style: bold;
}

.dashboard {
  min-height: 100vh;
  background: #1e1e1e;
}
